.padding-global {
  padding-right: var(--_layout---section-padding--padding-global);
  padding-left: var(--_layout---section-padding--padding-global);
}

.padding-section-small {
  padding-top: var(--_layout---section-padding--small);
  padding-bottom: var(--_layout---section-padding--small);
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.padding-section-medium {
  padding-top: var(--_layout---section-padding--medium);
  padding-bottom: var(--_layout---section-padding--medium);
}

.padding-section-large {
  padding-top: var(--_layout---section-padding--large);
  padding-bottom: var(--_layout---section-padding--large);
}

.container-large {
  width: 100%;
  max-width: var(--_layout---container--large);
  margin-right: auto;
  margin-left: auto;
}

.container-large.container_identifier-1 {
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.container_identifier-1 {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-vertical.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-0 {
  padding: var(--_sizes---spacing--none);
}

.padding-vertical.padding-xxhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxhuge {
  padding: var(--_sizes---spacing--xxhuge);
}

.padding-vertical.padding-large {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-large {
  padding: var(--_sizes---spacing--large);
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 2rem;
  }
}

.padding-vertical.padding-custom3 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-medium {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-medium {
  padding: var(--_sizes---spacing--medium);
}

.padding-vertical.padding-tiny {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-tiny {
  padding: var(--_sizes---spacing--tiny);
}

.padding-vertical.padding-xxlarge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxlarge {
  padding: var(--_sizes---spacing--xxlarge);
}

.padding-vertical.padding-custom1 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xsmall {
  padding: var(--_sizes---spacing--xsmall);
}

.padding-vertical.padding-xhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xhuge {
  padding: var(--_sizes---spacing--xhuge);
}

.padding-vertical.padding-xlarge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xlarge {
  padding: var(--_sizes---spacing--xlarge);
}

.padding-vertical.padding-custom2 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xxsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxsmall {
  padding: var(--_sizes---spacing--xxsmall);
}

.padding-vertical.padding-huge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-huge {
  padding: var(--_sizes---spacing--huge);
}

.padding-vertical.padding-small {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-small {
  padding: var(--_sizes---spacing--small);
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-bottom.padding-xlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-small {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-large {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-custom2 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-custom3 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-custom1 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-huge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-tiny {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-medium {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-0 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.footer7_top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer7_logo-link {
  margin-bottom: 2rem;
  padding-left: 0px;
}

.footer7_link-list {
  display: flex;
  justify-content: center;
  justify-items: start;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

@media screen and (max-width: 767px) {
  .footer7_link-list {
    flex-direction: column;
    justify-items: center;
    flex-wrap: nowrap;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
  }
}

.footer7_link {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.divider-horizontal {
  width: 100%;
  height: var(--_sizes---border-width--divider-width\<deleted\|relume-variable-divider-width\>);
  background-color: var(--brand--border);
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }
}

.padding-top.padding-xhuge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xxhuge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-0 {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-large {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-custom2 {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xlarge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-huge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xxsmall {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-custom3 {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-tiny {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-medium {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xxlarge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-small {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xsmall {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-custom1 {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.footer7_bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer7_bottom-wrapper {
    padding-bottom: 1rem;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

.footer7_credit-text {
  font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
  .footer7_credit-text {
    margin-top: 2rem;
  }
}

.footer7_legal-list {
  display: flex;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

@media screen and (max-width: 767px) {
  .footer7_legal-list {
    flex-direction: column;
    justify-items: center;
    flex-wrap: nowrap;
    grid-auto-flow: row;
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
  }
}

.footer7_legal-link {
  font-size: 0.875rem;
  text-decoration: underline;
}

#w-node-_9805e348-69d0-c4a2-aba1-0a44f191f33e-f191f338 {
  justify-self: center;
}
@media screen and (max-width: 991px) {
  #w-node-_9805e348-69d0-c4a2-aba1-0a44f191f33e-f191f338 {
    justify-self: center;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_9805e348-69d0-c4a2-aba1-0a44f191f33e-f191f338 {
    grid-column-end: span 1;
    grid-column-start: span 1;
    grid-row-end: span 1;
    grid-row-start: span 1;
  }
}